<div class="Site-content">
<div class="ui grid centered">
  <div class="four wide column center aligned">
    <div class="ui row">
      <div class="content">
        <h2>Créer un compte</h2>
        <div class="meta">
          <span class="date">Renseignez tous les champs</span> </br>
        </div>
        <div class="description">
          <div class="ui big form">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render 'shared/devise_errors' %>

        <div class="field">
          <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "Nom complet (Prénom + Nom)" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse e-mail" %>
        </div>

        <div class="field">

          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe"  %>
        </div>

        <div class="field">

          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmer mot de passe"  %>
        </div>

        <div class="actions">
                <%= f.submit "Créer un compte", class:  'ui button circular violet huge'%>
              </div>
            <% end %>

            </div>
          <div class="extra content">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>