<div class="Site-content">
  <div class="ui grid" style= "padding: 10px;">
    <div class="row">
      <div class="four wide column">
        <h1 class="text-center">Mes informations</h1>
        <div class="ui card">
        <div class="content">
          <div class="item">
            <i class="mail icon violet"></i>
            
              <%= current_user.email %>
            
          </div>
    
          <div class="item">
            <i class="user icon violet"></i>
            
              <%= current_user.fullname %>
            
          </div>
          <div class="item">
            <i class="marker icon violet"></i>
            
              <span>Adresse</span>,<span> 13001 </span><span>Ville</span>
            </div>
          </div>
          <div>
            <%= link_to "Modifier", edit_user_registration_path(current_user.id),  :class=>"ui bottom attached button basic green" %>

          </div>    
      </div>
        <img>
      </div>
      <div class="twelve wide column">
        <h1 class="text-center">Mes commandes</h1>
         <table class="ui table violet striped ">
      <thead>
        <tr>
          <th>Articles</th>
          <th>Montant total</th>
          <th>Statut</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%@orders.each do |order|%>
        <tr>
          <td>
            <p>
              <%order.items.each do |item|%>
              <%=item.title%> - 
              <%end%>
          </td>
          <td><%=order.total_price.round(2)%></td>
          <% if order.statut == false %>
            <td>En attente de paiement</td>
            <td><%= link_to "Payer", new_charge_path(order.id),  :class=>"ui button basic green circular tiny" %></td>
            <td><%= link_to "Annuler", orderdestroy_path(order.id),:class=>"ui button basic red circular tiny", :method => "delete" %></td>
            
          <%else%>
            <td>Payée</td>
            <td></td>
            <td></td>
          <%end%>
        </tr>
        <%end%>
      </tbody>
    </table>
      </div>
    </div>  
  </div>
</div>