<div class="ui grid centered">
  <div class="four wide column center aligned">
    <div class="ui row">
      <div class="content">
		<h2>Mot de passe oublié?</h2>
        
        <div class="description">
          <div class="ui big form">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
			    <%= f.submit "Envoyer moi les instructions !"  , class:  'ui button circular violet huge'  %>
			  </div>
			<% end %>

			</div>
          <div class="extra content">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
