<div class="ui stackable secondary inverted menu" id="header_dark">
  <%= link_to 'Home', root_path, class: "item" %>
  <%= link_to 'Photos', root_path, class: "item" %>
  <div class="right menu">
    <% if user_signed_in? %>

            <%= link_to show_user_path(current_user.id), class: "item" do %>
              <i class="icon user"></i> Mon compte
            <% end %>
            <%= link_to showcart_path, class: "item" do %>
              <i class="shopping basket icon"></i> Panier
            <% end %>
            <% if current_user.admin? %>
              <a class="item" href="/adminv">Dashboard</a>
            <% end %>
            <%= link_to destroy_user_session_path ,:method => "delete" , class: "item" do %>
              <i class="icon power off red"></i>
            <% end %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path, class: "item" %>
      <%= link_to 'Créer un compte', new_user_registration_path, class: "item" %>
    <% end %>


  </div>
</div>
