<div class="ui container" style="padding-bottom: 50px;">

	<h2 class="text-center title">Decouvrez nos meilleurs ventes</h2>
		<div class="ui three column grid">

			
		    <div class= "column">
		       <%= image_tag "#{rand(10)}.jpg" , class: 'ui circular image' %>
		       <div class="ui raised segment">
			      <a  href="<%= addtocart_path(@item1.id) %>" class="ui pink right ribbon label">Ajouter   <i class="shopping basket icon"></i></a>
			      <h2 class="text-center"><%= @item1.title %></h2>
			      <p><%= @item1.description %></p>
			    </div>
		    </div>
		    <div class="column">
		      <%= image_tag "#{rand(10)}.jpg" , class: 'ui circular image' %>
		       <div class="ui raised segment">
			      <a href="<%= addtocart_path(@item2.id) %>" class="ui pink right ribbon label">Ajouter   <i class="shopping basket icon"></i></a>
			      <h2 class="text-center"><%= @item2.title %></h2>
			      <p><%= @item2.description %></p>
			    </div>
		    </div>
		    <div class="column">
		      <%= image_tag "#{rand(10)}.jpg" , class: 'ui circular image' %>
		       <div class="ui raised segment">
			      <a href="<%= addtocart_path(@item3.id) %>" class="ui pink right ribbon label">Ajouter   <i class="shopping basket icon"></i></a>
			      <h2 class="text-center"><%= @item3.title %></h2>
			      <p><%= @item3.description %></p>
			    </div>
		    </div>
			    
		</div>
		 
			
	
</div>