

<div class="Site-content">

  <h2 class="text-center title">Gallerie</h2>
    <div class="ui grid">
    
      <div class="ui centered cards">
        

        <% @items.each do |item| %> 
            <div class="ui card product">

              <div class="image">
                <%= image_tag "#{rand(10)}.jpg" %>
              </div>

              <div class="content">
                <h2 class="text-center"><%= item.title %>  </h2>
                <div class="meta">
                  <span class="date"><%= item.price %> €</span>
                </div>
                <div class="description">
                  <p> <%= item.description %></p>
                </div>
              </div>

              <div class="extra content ">
                <div class="ui buttons">
                  <a href="<%= product_path(:id => item.id) %>">
                    <button class="ui button violet ">
                  <i class="icon eye"></i>
                  Voir l'article
                </button>
                  </a>
                  

                <% if user_signed_in? %>
                <a href="<%= addtocart_path(item.id) %>">
                    <button class="ui button violet ">
                  <i class="icon shopping basket"></i>
                  Ajouter
                </button>
                  </a>
                <% end %>
              </div>

              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


<%= render 'products/top_vente' %>